<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Find Planet</title>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

        <script>
            $(document).ready(function () {
                $("#planet_button").click(function () {

                    let input = document.getElementById("planet_input");
                    let inpValue = input.valueOf().value;
                    console.log(inpValue);

                    $.get('/api/planets/' + inpValue, function (data) {
                        console.log(data)

                        var table = "" +
                            "<table border='1'>" +
                            "<tr>" +
                            "<td>" + "Name" + "</td>" +
                            "<td>" + data.name + "</td>" +
                            "</tr>" +
                            "<td>" + "Rotation period" + "</td>" +
                            "<td>" + data.rotation_period + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Orbital period" + "</td>" +
                            "<td>" + data.orbital_period + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Diameter" + "</td>" +
                            "<td>" + data.diameter + "</td>" +
                            "/<tr>" +
                            "<tr>" +
                            "<td>" + "Climate" + "</td>" +
                            "<td>" + data.climate + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Gravity" + "</td>" +
                            "<td>" + data.gravity + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Terrain" + "</td>" +
                            "<td>" + data.terrain + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Surface water" + "</td>" +
                            "<td>" + data.surface_water + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Population" + "</td>" +
                            "<td>" + data.population + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Residents" + "</td>" +
                            "<td>" + data.residents + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Films" + "</td>" +
                            "<td>" + data.films + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Created" + "</td>" +
                            "<td>" + data.created + "</td>" +
                            "</tr>" +
                            "<tr>" +
                            "<td>" + "Edited" + "</td>" +
                            "<td>" + data.edited + "</td>" +
                            "<tr>" +
                            "<tr>" +
                            "<td>" + "Url" + "</td>" +
                            "<td>" + data.url + "</td>" +
                            "</tr>" +
                            "</table>"

                        $("#planet").html(table);
                    })
                })
            })

            $(document).ready(function () {
                $("#planet_input").keyup(function () {
                    let input = document.getElementById("planet_input");
                    let inpValue = input.valueOf().value;

                    $.get('/api/planets/hint?name=' + inpValue, function (data) {
                        console.log(data);
                        // var ul = "" +

                        // $("#hints").html(ul);
                    })
                })
            })
        </script>
    </head>

    <body>
        <input id="planet_input" type="text"/>

        <div id="hints">
        </div>
        <!--            <input type="text"onkeyup="showHint(this.value)"></form><p>Подсказка: <span id="txtHint"></span></p>-->
        <button id="planet_button" onclick="getPlanetInfo(this)">Get Planet</button>

        <div id="planet">
        </div>
    </body>

</html>